{% include 'header.html' %}

    <form method="POST">
        <p><label for="user">User</label><br>
        {% for user_name in all_user %}
            <select name="user" id="user">
                <option> </option>
                <option>{{ user_name }}</option>
            </select>
        {% endfor %}
        </p>
        <p>
            <label for="question_title">Question Title</label>
            <input size="50" type="text" id="question_title" name="question_title" value="{{ question_title }}">
        </p>
        <p>
            <label for="user_story">Message</label>
            <textarea rows="4" cols="50" id="message" name="message" value="{{ message }}" minlength="10"></textarea>
        </p>
        <input type="submit" value="{{ button_name }}" class="button" id="{{ button_name }}">
    </form>


{% include 'footer.html' %}