{% include 'header.html' %}
    <form method="POST">    
        <p><label for="user">User</label>
            <select name="user" id="user">
                <option> </option>
                {% for user_name in list_all_user %}
                <option>{{ user_name }}</option>
                {% endfor %}
            </select>
        </p>
        <hr>
        <label for="answer"></label>
        <textarea name="message" id="" cols="50" rows="10" minlength="10"></textarea>
        <input type="submit" value="Send" class="button">
    </form>
    <input class="button" action="action" onclick="history.go(-1);" type="button" value="Back to the question page" />
{% include 'footer.html' %}