<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <a href="/" class="button" style="font-size: 20px">Homepage</a>
    <a href="/list" class="button" style="display: block; max-width: 100px; text-align:center; background: #9999FF">All question</a>
    <a href="/question/new" class="button">Ask a question</a>
    <table>
        {% for id, submisson_time, view_number, vote_number, title, message, image in all_question %}
        <tr>
            <td> {{ id }} </td>
            <td> {{ submisson_time }} </td>
            <td> <a href="/question/{{ id }}"> {{title }} </a> </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>