{% include 'header.html' %}

    {% for id, submisson_time, view_number, vote_number, title, message, image in question_data %}
        <h1> {{ title }}</h1>
        <p><b> {{ message }}</b></p>
    {% endfor %}

    {% for submisson_time, message in question_comment_data %}
    <p style="padding:0 0 0 30px"> {{ submisson_time }} {{ message }}</p>
    {% endfor %}

    <hr style="height: 5px; background: #000">
    <h2>Answers</h2>
    {% for id, submisson_time, vote_number, question_id, message, image in answer_data %}
        <p> {{ message }} <a href="/answer/{{ id }}/new-comment" class="button">Add comment</a></p>


        <!--{% for submisson_time, message in answer_comment_data %}
    <p style="padding:0 0 0 30px"> {{ submisson_time }} {{ message }}</p>
    {% endfor %}-->
        <hr>
    {% endfor %}



    <hr style="height: 5px; background: #000">
    <a href="/question/{{ question_data[0][0] }}/new-answer" class="button">Add answer</a>
        
{% include 'footer.html' %}
        
      
        
    



